<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ETF Tracker</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet"> <!-- Link to Google Font -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Welcome to Tracker</h1>
    
    <div class="button-container">
        <div class="button-row">
            <a href="{{ url_for('etf_list') }}">
                <button>ETF List</button>
            </a>
            <a href="{{ url_for('etf_list') }}">
                <button>Stock List 1</button>
            </a>
            <a href="{{ url_for('etf_list') }}">
                <button>Stock List 2</button>
            </a>
            <a href="{{ url_for('etf_list') }}">
                <button>Stock List 3</button>
            </a>
            <a href="{{ url_for('etf_list') }}">
                <button>Stock List 4</button>
            </a>
        </div>
        <div class="button-row">
            <a href="{{ url_for('etf_list') }}">
                <button>Stock List 5</button>
            </a>
            <a href="{{ url_for('etf_list') }}">
                <button>Stock List 6</button>
            </a>
            <a href="{{ url_for('etf_list') }}">
                <button>Stock List 7</button>
            </a>
            <a href="{{ url_for('etf_list') }}">
                <button>Stock List 8</button>
            </a>
            <a href="{{ url_for('etf_list') }}">
                <button>Stock List 9</button>
            </a>
        </div>
        <div class="button-row">
            <a href="{{ url_for('etf_list') }}">
                <button>Stock List 10</button>
            </a>
            <a href="{{ url_for('etf_list') }}">
                <button>Stock List 11</button>
            </a>
            <a href="{{ url_for('etf_list') }}">
                <button>Stock List 12</button>
            </a>
            <a href="{{ url_for('etf_list') }}">
                <button>Stock List 13</button>
            </a>
            <a href="{{ url_for('etf_list') }}">
                <button>Stock List 14</button>
            </a>
        </div>
    </div>
    
</body>
</html>
