<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ETF Tracker</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet"> <!-- Link to Google Font -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Welcome to Tracker</h1>
    
    <div class="button-container">
        <div class="button-row">
            <a href="{{ url_for('etf_list') }}">
                <button>ETF LIST</button>
            </a>
            <a href="{{ url_for('current_prices') }}">  <!-- Change this to current_prices -->
                <button>HISTORICAL DATA</button>
            </a>
            <a href="{{ url_for('etf_list') }}">
                <button>STOCKS 5 MIN STATUS</button>
            </a>
            <a href="{{ url_for('etf_list') }}">
                <button>FIIS & DIIS DATA</button>
            </a>
            <a href="{{ url_for('etf_list') }}">
                <button>MARKET MOOD</button>
            </a>
        </div>
        <div class="button-row">
            <a href="{{ url_for('etf_list') }}">
                <button>F&N DATA</button>
            </a>
            <a href="{{ url_for('etf_list') }}">
                <button>GRAPH ANALYSIS</button>
            </a>
            <a href="{{ url_for('etf_list') }}">
                <button>MARKET AND STOCKS NEWS</button>
            </a>
            <a href="{{ url_for('etf_list') }}">
                <button>PAPER TRADING</button>
            </a>
            <a href="{{ url_for('etf_list') }}">
                <button>MY PORTFOLIO</button>
            </a>
        </div>
        <div class="button-row">
            <a href="{{ url_for('etf_list') }}">
                <button>STOCK MARKET COURSE</button>
            </a>
            <a href="{{ url_for('etf_list') }}">
                <button>INTRADAY TIPS</button>
            </a>
            <a href="{{ url_for('etf_list') }}">
                <button>GLOBAL INDEX</button>
            </a>
            <a href="{{ url_for('etf_list') }}">
                <button>LIVE CHAT</button>
            </a>
            <a href="{{ url_for('etf_list') }}">
                <button>NEED SUGGESTION</button>
            </a>
        </div>
    </div>
    
</body>
</html>
